.app{
  margin: 1rem;
}
.header__top{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__short-descrition{
  color: gray;
}

.header__title{
  color: blue;
  font-size: 1.5rem;
}
.header__logo{
  /* height: 100px; */
  width: 50px;
  
}

.header__logo img{
  width: 100%;
}